<html lang="en" layout:decorate="layout/main.html" xmlns:layout="http://www.w3.org/1999/xhtml">
<div layout:fragment="mainFragment">
  <div>
    <div class="container" style="min-height: 500px;">
      <div class="row mt-3">
        <div>
          <span th:if="${appRequest.isHandled()==true}">
              <h1 style="color: green">HANDLED!</h1>
          </span>
          <span th:if="${appRequest.isHandled()==false}">
              <h1 style="color: red">*** NOT HANDLED! ***</h1>
          </span>
        </div>
        <div class="col-6 mx-auto">
          <form th:action="@{'/update/'+${appRequest.getId()}}" th:method="put">
            <div class="row">
              <div class="col-12">
                <label>FULL NAME:</label>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-12">
                <input th:value="${appRequest.getUserName()}" type="text" class="form-control" required placeholder="Full Name" name="fullName" readonly>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-12">
                <label>COURSE:</label>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-12">
                <input th:value="${appRequest.getCourse().getName()}" type="text" class="form-control" name="course" readonly>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-12">
                <label>PHONE NUMBER:</label>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-12">
                <input type="number" th:value="${appRequest.getPhone()}" class="form-control" required placeholder="+ 7 707 795 5750" name="phoneNumber" readonly>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-12">
                <label>COMMENT:</label>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-12">
                <textarea class="form-control" name="comment" th:text="${appRequest.getCommentary()}" readonly></textarea>
              </div>
            </div>
            <input type="hidden" name="handled" value="true">
            <div class="row mt-3">
              <div class="col-12">
                <span th:if="${appRequest.isHandled()==false}">
                  <button class="btn btn-success">UPDATE</button>
                </span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</html>