<html lang="en" layout:decorate="layout/main.html" xmlns:layout="http://www.w3.org/1999/xhtml">
<div layout:fragment="mainFragment">
  <div>
    <div class="container" style="min-height: 500px;">
      <div class="row mt-3">
        <div>
          <span th:if="${appRequest.isHandled()==true}">
              <h1 style="color: green">HANDLED!</h1>
          </span>
          <span th:if="${appRequest.isHandled()==false}">
              <h1 style="color: red">*** NOT HANDLED! ***</h1>
          </span>
        </div>
        <div class="col-6 mx-auto">
          <form th:action="@{'/update/'+${appRequest.getId()}}" th:method="put">
            <div class="row">
              <div class="col-12">
                <label>FULL NAME:</label>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-12">
                <input th:value="${appRequest.getUserName()}" type="text" class="form-control" required placeholder="Full Name" name="fullName" readonly>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-12">
                <label>COURSE:</label>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-12">
                <input th:value="${appRequest.getCourse().getName()}" type="text" class="form-control" name="course" readonly>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-12">
                <label>PHONE NUMBER:</label>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-12">
                <input type="number" th:value="${appRequest.getPhone()}" class="form-control" required placeholder="+ 7 707 795 5750" name="phoneNumber" readonly>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-12">
                <label>COMMENT:</label>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-12">
                <textarea class="form-control" name="comment" th:text="${appRequest.getCommentary()}" readonly></textarea>
              </div>
            </div>
            <input type="hidden" name="handled" value="true">
            <br><br>
            <div class="row mt-3">
              <div class="col-12">
                <span th:if="${appRequest.isHandled()==false}">
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    UPDATE
                  </button>
                  <!-- Modal -->
                  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <table class="table table-striped" cellpadding="10">
                            <thead>
                            <tr>
                              <th>SELECT</th>
                              <th>NAME</th>
                              <th>SURNAME</th>
                              <th width="10%">DEPARTMENT</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="operator:${operators}">
                              <td><input name="operators" type="checkbox" th:value="${operator.getId()}"></td>
                              <td th:text="${operator.getName()}"></td>
                              <td th:text="${operator.getSurname()}"></td>
                              <td th:text="${operator.getDepartment()}"></td>
                            </tr>
                            </tbody>
                          </table>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </span>
              </div>
            </div>
          </form>
          <br>
          <table class="table table-striped" cellpadding="10">
            <thead>
            <tr>
              <th>SELECT</th>
              <th>NAME</th>
              <th>SURNAME</th>
              <th width="10%">DEPARTMENT</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="operator:${appRequest.getOperators()}">
              <td>
                <form th:method="delete" th:action="@{'/deleteOperator/'+${appRequest.getId()}}">
                  <input name="operatorId" type="hidden" th:value="${operator.getId()}">
                  <button class="btn btn-danger">X</button>
                </form>
              </td>
              <td th:text="${operator.getName()}"></td>
              <td th:text="${operator.getSurname()}"></td>
              <td th:text="${operator.getDepartment()}"></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</html>