<html lang="en" layout:decorate="layout/main.html" xmlns:layout="http://www.w3.org/1999/xhtml">
<div layout:fragment="mainFragment">
  <div>
    <div class="container" style="min-height: 500px;">
      <div class="row mt-3">
        <div class="col-6 mx-auto">
          <form th:action="@{'/addRequest'}" method="post">
            <div class="row">
              <div class="col-12">
                <label>FULL NAME:</label>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-12">
                <input type="text" class="form-control" required placeholder="Full Name" name="fullName">
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-12">
                <label>COURSE:</label>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-12">
                <select name="course_id" class="form-control">
                  <option th:each="course:${courses}"
                          th:text="${course.getName() + ' / ' + course.getPrice()}"
                          th:value="${course.getId()}">

                  </option>
<!--                  <option value="Java Developer">Java Developer</option>-->
<!--                  <option value="Go Developer">Go Developer</option>-->
<!--                  <option value="Python Developer">Python Developer</option>-->
                </select>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-12">
                <label>PHONE NUMBER:</label>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-12">
                <input type="number" class="form-control" required placeholder="+ 7 707 795 5750" name="phoneNumber">
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-12">
                <label>COMMENT:</label>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-12">
                <textarea class="form-control" name="comment"></textarea>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-12">
                <button class="btn btn-success">SUBMIT</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</html>