<html lang="en" layout:decorate="layout/main.html" xmlns:layout="http://www.w3.org/1999/xhtml">
<div layout:fragment="mainFragment">
  <div>
    <br><br>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>ID</th>
        <th>FULL NAME</th>
        <th>DEPARTMENT</th>
        <th>REQUEST COUNT</th>
        <th width="10%">DETAILS</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="op:${operators}">
        <td th:text="${op.getId()}"></td>
        <td th:text="${op.getName() + ' ' + op.getSurname()}"></td>
        <td th:text="${op.getDepartment()}"></td>
        <td th:text="${operatorsmap[op.getId()]}"></td>
        <td>
          <a class="btn btn-success">DETAILS</a>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="container" style="min-height: 500px;">
      <div class="row mt-3">
        <div class="col-6 mx-auto">
          <form th:action="@{'/addOperator'}" method="post">
            <div class="row">
              <div class="col-12">
                <label>NAME:</label>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-12">
                <input type="text" class="form-control" required placeholder="Name" name="name">
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-12">
                <label>SURNAME:</label>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-12">
                <input type="text" class="form-control" required placeholder="Surname" name="surname">
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-12">
                <label>DEPARTMENT:</label>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-12">
                <input type="text" class="form-control" required placeholder="Department" name="department">
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-12">
                <button class="btn btn-success">SUBMIT</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</html>