<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table cellpadding="15">
  <thead>
  <tr>
    <th>ID</th>
    <th>FULL NAME</th>
    <th>EXAM</th>
    <th>DETAILS</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="student : ${students_list}">
    <td th:text="${student.getId()}"></td>
    <td th:text="${student.getFullName()}"></td>
    <td th:text="${student.getExam()}"></td>
    <td>
      <a th:href="@{'/details/'+${student.getId()}}">DETAILS</a>
    </td>
  </tr>
  </tbody>
</table>
<br><br>

<form method="post" th:action="@{'/addStudent'}">
  <input type="text" name="fullName">
  <input type="text" name="exam">
  <button>SUBMIT</button>
</form>
</body>
</html>